html {
	overflow: -moz-scrollbars-vertical !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background: #fffff8;
	color: #5c5c5c;
	font-family: Georgia, Garamond, Times, serif;
	font-size: 1.1em;
	line-height: 1.4;
	max-width: 40em;
	margin: 2em auto;
	padding: 10px;
	padding-top: 0;
}

pre {
	font-family: 'Courier New', Courier, monospace;
}

code {
	font-family: 'Courier New', Courier, monospace;
}

.code {
	font-family: 'Courier New', Courier, monospace;
	font-style: oblique;
}

.page-header {
	text-align: center;
}

.copyright {
	color: #aaa;
	font-size: 10.5pt;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 2em;
}

.hide {
	display: none;
}
