html {
	overflow: -moz-scrollbars-vertical !important;
	font-size: 120%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background: #fffff8;
	color: #5c5c5c;
	max-width: 50rem;
	margin-left: auto;
	margin-top: 0;
	padding: 10px;
	padding-top: 0;
}
